[submodule "packets4j"]
	path = packets4j
	url = https://github.com/Poucy113/packets4j
[submodule "jbcodec"]
	path = jbcodec
	url = https://github.com/Poucy113/jbcodec
[submodule "PDRUtils"]
	path = PDRUtils
	url = git@github.com:Poucy113/PDRUtils.git
[submodule "PCLib"]
	path = PCLib
	url = git@github.com:Poucy113/PCLib
